* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* @font-face {
    font-family: 'Trench';
    src: url(trench/trench100.ttf);
} */

body {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    gap: 10px;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

h1 {
    font-family: "Trench", sans-serif;
    text-align: center;
    font-size: 49px;
    line-height: 90%;
}

img {
    max-width: 100%;
}

ul{
    display: flex;
    list-style: none;
    gap: 5rem;
}

ul li a{
    text-decoration: none;
    color: #141213;
    cursor: pointer;
}

/* cabeçalho */
.logo-menu {
    width: auto;
    height: 60px;
}

.container-menu {
    max-width: 1280px;
    margin: auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    width: 100%;
    padding: 10px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
    margin: auto;
}

header.rolagem {
    background-color: #fff;
    padding: 5px 4%;
    box-shadow: 0 0 25px 5px #262427;

}

header.rolagem a {
    color: #262427;
}

header a {
    text-decoration: none;
    color: #141213;
    cursor: pointer;
}

.borda-menu {
    padding: 5px;
    border: 2px solid #262427;
    border-radius: 15px;
    box-shadow: 0 0 5px 2px #333;
    align-items: center;
}
/* ------------- */


/* menu 02 */
header {
    padding-inline: 16px;
}

.nav {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 32px;
}

.nav-list a {
    padding-block: 16px;
}

.hamburguer{
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #141213;
    cursor: pointer;
}

.hamburguer::before,
.hamburguer::after {
    content: "" ;
    display: block;
    width: 30px;
    height: 3px;
    background-color: #141213;
    margin-top: 5px;
}

/* ------------- */

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 80px;
    height: auto;

}

/* -------------------- */

/* secao fundo */
.secao {
    padding: 60px 20px;
    overflow: hidden;
}

.secao-fundo{
    height: 200vh;
    background-image: url("https://img.freepik.com/vetores-gratis/fundo-de-textura-de-aquarela-verde-suave-moderna_1055-18276.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.container {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    gap: 60px;
}

.container--coluna {
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.subtitulo, .data , button {
    font-size: 23px;
    color: black;
}

.participar {
    color: #cbe6d3;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cbe6d3;
    box-shadow: 0 0 25px 5px #74a509;
    padding: 50px 30px;
    border-radius: 25px;
    max-width: 50%;
    font-size: 18px;
    gap: 15px;
    margin-top: 15%;
}

.data {
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 0 7px 0px #74a509;
    border-radius: 50px;
    padding: 5px 25px;
}

.ifma {
    max-width: 510px;
}

.comitê {
    font-size: 25px;
    color: black;
}

.realce {
    color: #74a509;
}

.secao {
    overflow: hidden;
}

.secao-fundo {
    background-position: 50%;
    background-size: cover;
}

.foto_ifma img{
    width: 1900px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 0 7px 0px #9edf49;
}
/* ------------------------ */

.secao--disclaimer {
    box-shadow: 15px 15px 15px rgba(47, 46, 46, 0.5);
}

.disclaimer {
    font-size: 15px;
    color: #7c7f7f;
    display: flex;
    text-align: center;
    justify-content: center;
}



/* secao dos convidados */
.secao--convidados {
    background-image: url(fundo_photoshop.jpg);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: auto;
}

.convidado-slides {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.convidados {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    gap: 20px;
}

.convidado {
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    padding: 20px 30px;
    border-radius: 10px;
    gap: 20px;
    grid-auto-flow: 25px;
    align-items: center;
    box-shadow: 0 0 7px 2px #67a130;
}

.container-convidado {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.barra {
    height: 3px;
    width: 100%;
    background-color: #333;
    align-self: stretch;
    box-shadow: 0 0 7px 2px #67a130;
}

.foto {
    max-width: 80px;
    background-color: #141213;
    border-radius: 7.5px;
    /* box-shadow: 0 0 7px 5px #67a130, inset 0 0 2.5px 2px #005080; */
    padding: 10px;
    border: 3px solid #262427;
}

.convidado_conteudo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.link-lattes {
    text-decoration: none;
    color: #141213;
    cursor: pointer;
}

/* seção slides */
.secao-slides {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-image: url("/imagens_site/fundo_photoshop03.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 20px 15px;
}

.h2_slides {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 3px 1.5px #74a509;
}

.slider {
    margin: 0 auto;
    width: 600px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 0 0 7px 5px #74a509;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 800px;
}

.manual-navegation {
    position: absolute;
    width: 300px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #fbfff7;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #2b79f5;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navegation-auto div{
    border: 2px solid #2b79f5;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transition: 1s;
}

.navegation-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navegation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navegation-auto .auto-btn1{
    background-color: #2b79f5;
}

#radio2:checked ~ .navegation-auto .auto-btn2{
    background-color: #2b79f5;
}

#radio3:checked ~ .navegation-auto .auto-btn3{
    background-color: #2b79f5;
}

#radio4:checked ~ .navegation-auto .auto-btn4{
    background-color: #2b79f5;
}




/* ------------ */


/* Roda pé */
.footer {
    padding: 20px;
}

.footer a{
    color: #141213;
    text-decoration: none;
    border: 3px solid #262427;
    box-shadow:  0 0 5px 2px #262427;
    padding: 4px;
    border-radius: 10px;
}

.footer a:hover{
    text-decoration: underline;
}

.footer img {
    max-width: 50px;
}

.footer_container {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
}

.footer_links {
    display: flex;
    gap: 10px;
}

/* seçao da responsividade */
@media(max-width: 1020px){
    .secao-fundo{
        height: 180vh;
    }
    
    .secao-fundo {
        padding-bottom: 0;
    }

    .disclaimer{
        text-align: center;
        justify-content: center;
        margin: 0;
    }

    .container--coluna{
        gap: 40pppx;
    }

    .card{
        max-width: 500px;
        width: 100%;
    }

    .comitê {
        font-size: 20px;
        color: black;
    }

    .subtitulo {
        font-size: 18px;
    }

    .data {
        font-size: 18px;
    }

    .convidado {
        font-size: 16px;
        padding: 10px 20px;

    }
}

@media(max-width: 771px){

    .hamburguer {
        display: block;
        z-index: 1;
    }

    .secao-fundo{
        height: 195vh;
    }

    .container{
        flex-direction: column;
        align-items: center;
    }

    .container-convidado{
        max-width: 650px;
    }
    
    .foto_ifma img{
        width: 600px;
        height: 350px;  
    }

    .slider {
        width: 400px;
        height: 200px;
    }

    .navegation-auto {
        width: 400px;
        margin-top: 160px; 
    }

    .manual-navegation {
        width: 400px;
        margin-top: -20px;
    }

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #141213;
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;    
        pointer-events: none;
    }

    .nav.active .nav-list {
        clip-path: circle(100px at 90% -15%);
        pointer-events: all;
    }

}

@media(max-width: 480px){

    .foto_ifma img{
        width: 400px;
        height: 250px;  
    }

    .card{
        max-width: 500px;
        width: 100%;
    }

    .card{
        padding: 20px 25px;
        padding-top: 50px;
        gap: 17.5px;
        max-width: 500px;
        width: 100%;
    }

    .comitê {
        font-size: 20px;
        color: black;
    }

    .subtitulo {
        font-size: 18px;
    }

    .data {
        font-size: 1px;
    }

    .convidado {
        font-size: 16px;
        padding: 10px 20px;

    }
}

@media(max-width: 360px){

    .secao-fundo{
        height: 145vh;
    }

    .data {
        display: flex;
        align-items: center;
        font-size: 15px;
    }

    .foto_ifma img{
        width: 400px;
        height: 250px;  
    }
}